langchain
langchain-groq
faiss-cpu
tiktoken
langchain-community
langchain-openai
langchain-postgres
chromadb
sentence-transformers
pypdf
python-dotenv
pymupdf
unstructured
pdfminer
python-docx
docx2txt
pandas
openpyxl
jq
matplotlib
ipykernel
google
google-genai
langchain-google-genai
jupyter
ipywidgets
## Embeddings
langchain-huggingface
sentence-transformers
langchain-experimental
rank_bm25
wikipedia
langgraph
psycopg2
pgvector
langchain-ollama
pytesseract
pillow
opencv-python
transformers
sentencepiece



